<h3>Home</h3>
<p>The Society of Software Engineers is a professional organization built to improve the experience
  of students enrolled in the Software Engineering program at the Milwaukee School of Engineering
  by providing opportunities for collaboration, further education and guidance for new and old
  students, and representation among other departments at the university.
</p>
<p>We focus on building you professionally, which includes improving you as a person and as a
  coder. Our events and community are designed to help every member reach their fullest potential.
</p>
<p>
  <a [routerLink]="'/register'">Register</a> or <a [routerLink]="'/signin'">Sign In</a> to experience how awesome we are!
</p>
