.navbar-brand {
  padding-top: 0;
}

img {
  display: inline-block;
  height: 40px;
  margin-top: -5px;
  margin-right: 15px;
}

span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
